<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />
	<context:component-scan
		base-package="com.swing.foodserving.*" />
	
	
	<http auto-config="true" use-expressions="true" >
		<intercept-url pattern="/u/*" access="isAuthenticated()" /> 
		<form-login login-page="/signIn"
			authentication-success-handler-ref="authSuccessHandler"
			authentication-failure-handler-ref="authFailureHandler"
			username-parameter="email" password-parameter="password" always-use-default-target="true"/>
		<logout logout-url="/logout" delete-cookies="JSESSIONID"
			invalidate-session="true" success-handler-ref="logoutSuccessHandler" />
			
		<csrf />
	</http>





	
	<authentication-manager id="authenticationManager">
		<authentication-provider
			user-service-ref="myUserDetailService">
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>
	
	
	
	<beans:bean id="authFailureHandler"
		class="com.swing.foodserving.handler.AuthFailureHandler" />
		
	<beans:bean id="authSuccessHandler"
		class="com.swing.foodserving.handler.AuthSuccessHandler" />
	<beans:bean id="myUserDetailService"
		class="com.swing.foodserving.service.MyUserDetailService">
	</beans:bean>	
	
			
		
	<beans:bean id="logoutSuccessHandler"
		class="com.swing.foodserving.handler.CustomLogoutSuccessHandler" />
		

			
	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength"
			value="11" />
	</beans:bean>
	
	
	
</beans:beans>

 

