@charset "UTF-8";
.prayas-section{
	padding: 7px;
}
.form-group.required label:after {
  content:"*";color:red;
}
.prayas-button{
	color: white;
    padding: 5px;
    background: #1abc9c;
    cursor: pointer;
    font-size: 1.3em !important;
}
.cros{
	width: 27px;
    height: 27px;
    text-align: center;
    line-height: 17px;
}

/* loader css start */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 63, 103, 0.1); }
  
  .loader-content {
    margin: 50vh auto 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  
 .loader-index {
    margin-top: 20px; }
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
      content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #1baf96;
    border-color: #1baf96 transparent #1baf96 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
 }
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* loader css end */
.dataTables_filter input[type="search"]{
	margin-right: 25px;	
}
.incomeSurplus{
	background-color: #e7f7f4 !important;
}

